### JetBrains (IntelliJ IDEA) ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/  # 리소스 폴더는 제외하지 않도록 설정

### Build Tools (Maven/Gradle) ###
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
release.properties
bundle.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### OS & Misc ###
.DS_Store
Thumbs.db
.settings/
.project
.classpath
.factorypath